{% extends "base.html" %}
{% block content %}

    <h2> Kirjaudu sisään </h2>
    <p> Sovelluksen käyttäminen vaatii kirjautumisen.</p>
    
    {% if error %}
    <div class="alert alert-danger"> {{error}} </div>
    {% endif %}
    
    <form method="post" action="{{base_path}}/">
        <div class="form-group">
            <label> Käyttäjätunnus </label>
            <input class="form-control" name="kayttajatunnus" value="{{kayttajatunnus}}" type="text">
        </div>
        
        <div class="form-group">
            <label> Salasana </label>
            <input class="form-control" name="salasana" type="password">
        </div>
        
        <button type="submit" class="btn btn-primary"> Kirjaudu </button>
    </form>


{% endblock %}