{% extends "base.html" %}
{% block content %}

    {% if message %}
    <div class="alert alert-success"> {{message}} </div>
    {% endif %}


    <h1> Tutkimukset </h1>
    <br>

    <table class="table table-striped table-bordered">
	<thead>
            <tr>
                <th> Tutkimuksen Id </th>
                <th> Kohde </th>
                <th> Päivämäärä </th>
            </tr>
        </thead>

        <tbody>
            {% for tutkimus in tutkimukset %}
            <tr>
                <td> <a href="{{base_path}}/tutkimus/{{tutkimus.tutkimusid}}"> {{tutkimus.tutkimusid}} </a></td>
                <td> {{tutkimus.kohteenNimi}}, {{tutkimus.kohteenPaikkakunta}} </td>
                <td> {{tutkimus.paivamaara}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    
{% endblock %}