{% extends "base.html" %}
{% block content %}

    {% if message %}
    <div class="alert alert-success"> {{message}} </div>
    {% endif %}


    <h3> <a href="{{base_path}}/kohde/{{tutkimus.kohdeid}}"> {{tutkimus.kohteenNimi}}, {{tutkimus.kohteenPaikkakunta}}</a>: 
    Tutkimus {{tutkimus.tutkimusid}}</h3> 
    
    <a href="#" class="btn btn-default"> Muokkaa </a> 
    <form method="post" action="{{base_path}}/tutkimus/{{tutkimus.tutkimusid}}/destroy" style="display: inline-block;">
        <button type="submit" class="btn btn-danger"> Poista </button> </form> <br>
    <br>
    
    <ul>
        <li> <strong> Tutkija: </strong> <a href="#"> Tutkija {{tutkimus.tutkijaid}} </a> </li>
        <li> <strong> Päivämäärä: </strong> {{tutkimus.paivamaara}} </li>
    </ul>
    
    <p> <strong> Aistinvarainen tieto </strong> <br>
        {{tutkimus.aistivarainen_tieto}} 
    </p>
    <p> <strong> Mittaustieto </strong> <br>
        {{tutkimus.mittaustieto}}
    </p>
    <br>
    
    <a href="{{base_path}}/tutkimus/{{tutkimus.tutkimusid}}/new" class="btn btn-default"> Lisää näyte </a> <br>
    
    <h3>Näytteet</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th> Näytteen id </th>
                <th> Näytteen nimi </th>
            </tr>
        </thead>

        <tbody>
            {% for nayte in tutkimus.naytteet %}
            <tr>
                <td> <a href="{{base_path}}/tutkimus/{{tutkimus.tutkimusid}}/{{nayte.nayteid}}"> {{nayte.nayteid}} </a></td>
                <td> {{nayte.nimi}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
