{% extends "base.html" %}
{% block content %}

<h1> <a href="#">Tutkimus</a>: Näytteen nimi </h1>
    
    <a href="#" class="btn btn-default"> Muokkaa </a> 
    <a href="#" class="btn btn-danger"> Poista </a> <br>
    <br>
    
    <ul>
        <li><strong> Näytteen id: </strong> 123 </li> 
        <li><strong> Tutkija: </strong> <a href="#"> Tutkija </a> </li> 
        <li><strong> Näytteenottopaikkan koordinaatit: </strong> 
        60.25, 24.6
        </li>
        <li><strong> Näytteenottopaikkan maamerkkitieto: </strong> 
        maamerkkitieto
        </li>
    </ul>
    
    <p> <strong> Kuvaus </strong> </br>
        Näytteen kuvaus
    </p>
    
    <p> <strong> Analyysi </strong> </br>
        Näytteen analyysi
    </p>

    
{% endblock %}