{% extends "base.html" %}
{% block content %}

    <h1> Näytteen nimi </h1>
    
    <a href="#" class="btn btn-default"> Muokkaa </a> 
    <a href="#" class="btn btn-danger"> Poista </a> <br>
    <br>
    
    <p> <strong> Näytteen id: </strong> 123 </p> 
    <p> <strong> Tutkimus: </strong> <a href="#"> Tutkimus </a></p> 

    <p> <strong> Näytteenottopaikka </strong> </br>
        Koordinaatit, maamerkkitieto tulee tähän.
    </p>
    
    <p> <strong> Kuvaus </strong> </br>
        Näytteen kuvaus
    </p>
    
    <p> <strong> Analyysi </strong> </br>
        Näytteen analyysi
    </p>

    
{% endblock %}