{% extends "base.html" %}
{% block content %}


    {% if user_logged_in %}
    Kirjautunut: {{user_logged_in.kayttajatunnus}}
    {% endif %}

    {% if message %}
    <div class="alert alert-success"> {{message}} </div>
    {% endif %}
    
    
    <h1> Tutkimuskohteet </h1>
    <a href="{{base_path}}/kohde/new" class="btn btn-default"> Lisää kohde </a> <br>
    <br>

    
    <table class="table table-striped table-bordered">
	<thead>
            <tr>
                <th> Nimi </th>
                <th> Paikkakunta </th>
                <th> Viimeisin tutkimus </th>
            </tr>
        </thead>

        <tbody>
            {% for kohde in kohteet %}
            <tr>
                <td> <a href="{{base_path}}/kohde/{{kohde.kohdeid}}"> {{kohde.nimi}} </a></td>
                <td> {{kohde.paikkakunta}} </td>
                <td> {{kohde.viimeisinTutkimus}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    
{% endblock %}