{% extends "base.html" %}
{% block content %}

    <div class="alert-success"> {{message}}</div>

    <h3> {{kohde.nimi}} </h3>
    <a href="#" class="btn btn-default"> Muokkaa </a> <a href="{{base_path}}/tutkimus/new" class="btn btn-default"> Lisää tutkimus </a><br>
    <br>
    <p> <strong> Paikkakunta:</strong> {{kohde.paikkakunta}} </p>

    <br>
    <h3> Kohteen historia </h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th> Tutkimuksen id </th>
                <th> Päivämäärä </th>
                <th> Tutkija </th>
            </tr>
        </thead>

        <tbody>
            {% for tutkimus in kohde.tutkimukset %}
            <tr>
                <td> <a href="{{base_path}}/tutkimus/{{tutkimus.tutkimusid}}"> {{tutkimus.tutkimusid}} </a></td>
                <td> {{tutkimus.paivamaara}} </td>
                <td><a href="#"> {{tutkimus.tutkijaid}} </a></td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
